<meta charset="'utf8"/>
<title>EJS is the best</title>

<!-- load your css -->
<link rel="stylesheet" href="../styles.css">

<!-- or load in a CDN like bootstrap or tailwind -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<!-- your IN document styles -->
<style>
    body{padding-top: 50px}
</style>