<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head"); %>
    <title>EJS HOME-PAGE</title>
</head>
<body classname="container">
    <header>
        <!-- include ejs header -->
        <%- include('../partials/header',{variant: 'compact'}); %>
    </header>

    <main>
        
    </main>
    
</body>
</html>